<app-admin-layout>
  <h2>Crear estudiante</h2>

  <p-card *ngIf="student">
    <div class="margen-abajo-50px">
      <span class="p-float-label w-100">
        <input
          class="w-100"
          id="float-input"
          type="text"
          pInputText
          [(ngModel)]="student.first_name"
        />
        <label for="float-input">Nombre</label>
      </span>
    </div>
    <div class="margen-abajo-50px">
      <span class="p-float-label w-100">
        <input
          class="w-100"
          id="float-input"
          type="text"
          pInputText
          [(ngModel)]="student.last_name"
        />
        <label for="float-input">Apellidos</label>
      </span>
    </div>
    <div class="margen-abajo-50px">
      <span class="p-float-label w-100">
        <input
          class="w-100"
          id="float-input"
          type="text"
          pInputText
          [(ngModel)]="student.cedula"
        />
        <label for="float-input">Documento</label>
      </span>
    </div>
    <div class="margen-abajo-50px">
      <span class="p-float-label w-100">
        <input
          class="w-100"
          id="float-input"
          type="text"
          pInputText
          [(ngModel)]="student.email"
        />
        <label for="float-input">Email</label>
      </span>
    </div>
    <div class="margen-abajo-50px">
      <span class="p-float-label w-100">
        <input
          class="w-100"
          id="float-input"
          type="text"
          pInputText
          [(ngModel)]="student.username"
        />
        <label for="float-input">Nombre de usuario</label>
      </span>
    </div>
    <div class="margen-abajo-50px">
      <span class="p-float-label w-100">
        <input
          class="w-100"
          id="float-input"
          type="password"
          pInputText
          [(ngModel)]="student.password"
        />
        <label for="float-input">Contraseña</label>
      </span>
    </div>
    <div class="right-content">
      <button pButton label="Crear" class="p-button-success" (click)="createStudent()"></button>
    </div>
  </p-card>
</app-admin-layout>
